<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ title }}</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css') }}"
		/>
		<img src="{{ url_for('static', filename='images/weather.png') }}" alt="" />
	</head>
	<body>
		<div id="container">{% block content %} {% endblock %}</div>
		<form text="Search">
			<input type="text" {% if text %} value="{{ text }}" {% endif %} />
			<button type="submit">Search</button>
		</form>
	</body>
</html>
